# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# Security & Secrets
*.pem
*.key
*.pub
.env
aws_access_keys.txt

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Scripts & Temporary
*.log
tmp/
